<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Navbar</title>
        <link th:fragment="navbar-css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    </head>
    <body>
        <nav th:fragment="navbar">
            <div th:replace="fragments/global/header :: header">
            </div>
            <div th:fragment="authlinks" id="authlinks">
                <a sec:authorize="!isAuthenticated()" th:href="@{/join}">Join now</a>
                <a id="loginbutton"
                    sec:authorize="!isAuthenticated()" th:href="@{/login}">Sign in
                </a>
                <form
                    sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST"
                >
                    <button id="logoutbutton" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </body>
</html>
