h2 {
    background-color: lightgray;
}

ul {
    margin-bottom: 100px;
    list-style: none;
}

ul li {
    background: lightgray;
}

ul li:nth-child(odd) {
    background: white;
}

section {
    margin-bottom: 30px;
}

img#thumbimage {
    width: 20px;
    height: 20px;
}