<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>DinkedIn: Improve your life</title>
        <link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
    </head>
    <body>
        <nav th:replace="fragments/global/navbar :: navbar"></nav>

        <section>
            <h1>Whoops</h1>
            <p>404 Not found</p>
        </section>

        <footer th:replace="fragments/global/footer :: footer"></footer>
    </body>
</html>
