<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>DinkedIn Finland: Log In or Sign Up</title>
        <link th:insert="fragments/global/navbar :: link" />
        <link th:href="@{/css/index.css}" rel="stylesheet" />
    </head>
    <body>
        <nav th:replace="fragments/global/navbar :: navbar"></nav>

        <section class="hero">
            <h1>Welcome to your professional community</h1>
            <div class="circle">
                <img
                    th:src="@{/img/office_men.jpg}"
                    alt="office people"
                    align="right"
                    style="width:40%"
                />
            </div>
            <div id="intent-module">
                <p>
                    <a th:href="@{/jobs}">Search for a job</a>
                </p>
                <p>
                    <a >Find a person you know</a>
                </p>
                <p>
                    <a >Learn a new skill</a>
                </p>
            <div>
        </section>

        <footer th:replace="fragments/global/footer :: footer"></footer>
    </body>
</html>
