<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>DinkedIn: Improve your life</title>
        <link th:href="@{/css/index.css}" rel="stylesheet" />
        <link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
    </head>
    <body>
        <nav th:replace="fragments/global/navbar :: navbar"></nav>

        <section class="hero">
            <h1>Welcome to your exciting professional life</h1>
            <div class="circle">
                <img
                    th:src="@{/img/office_men.jpg}"
                    alt="office people"
                    align="right"
                />
            </div>
            <div id="intent-module">
                <p>
                    <a th:href="@{/jobs}">Search for work</a>
                </p>
                <p>
                    <a th:href="@{/people}">Find people</a>
                </p>
                <p>
                    <a >Learn skills</a>
                </p>
            <div>
        </section>

        <footer th:replace="fragments/global/footer :: footer"></footer>
    </body>
</html>
