<!DOCTYPE HTML>
<html>
	<head>
        <title>Please login</title>
		<link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
    </head>
	<body>
		<nav>
            <div th:replace="fragments/global/header :: header">
            </div>
            <div th:replace="fragments/global/navbar :: authlinks">
            </div>
        </nav>
		<h1>Login</h1>
		<form th:action="@{/login}" method='POST'>
        	<div th:if="${param.error}" class="alert alert-error">
            	Invalid username or password
          	</div>
          	<div th:if="${param.logout}" class="alert alert-success">
            	You've been logged out
          	</div>
	      	<table>
	        	<tr>
	            	<td>User:</td>
	            	<td><input id="unameinput" type='text' name='username' value=''></td>
	         	</tr>
	         	<tr>
	            	<td>Password:</td>
	            	<td><input id="pwinput" type='password' name='password' /></td>
	         	</tr>
	         	<tr>
	            	<td><input name="submit" type="submit" value="submit" /></td>
	         	</tr>
	    	</table>
	  	</form>
	  	<footer th:replace="fragments/global/footer :: footer"></footer>
	</body>
</html>
