<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Find people</title>
        <link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
        <link th:href="@{/css/people.css}" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <div th:replace="fragments/global/header :: header">
            </div>
            <div th:replace="fragments/global/navbar :: authlinks">
            </div>
        </nav>

        <h2>Find people</h2>

        <ul>
            <li th:each="person : ${accountPage.content}">
                <div>
                    <div th:text="${person.username}">username</div>
                </div>
            </li>
        </ul>

        <nav th:if="${accountPage.totalPages > 0}" >
            <div th:each="pageNumber : ${pageNumbers}">
                <a
                    th:href="@{/people(size=${accountPage.size}, page=${pageNumber})}"
                    th:text="${pageNumber}"
                >
                </a>
                <span>&nbsp;</span>
            </div>
        </nav>

        <footer th:replace="fragments/global/footer :: footer"></footer>
    </body>
</html>
