<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Find people</title>
        <link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
        <link th:href="@{/css/people.css}" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <div th:replace="fragments/global/header :: header">
            </div>
            <div th:replace="fragments/global/navbar :: authlinks">
            </div>
        </nav>

        <h2>Find people</h2>

        <ul>
            <li th:each="person : ${accountPage.content}">
                <div id="card">
                    <a
                        th:href="@{/wall(id=${person.id})}"
                    >
                        <div id="pic">
                                <img
                                    th:if="${person.image == null}"
                                    th:src="@{/img/default-profile.png}"
                                    alt="Default image"
                                />
                                <img
                                    th:if="${person.image != null}"
                                    th:alt="|Profile picture of ${person.firstName}|"
                                    th:src="${person.image}"
                                />
                        </div>
                        <div id="details">
                            <div th:text="|Username: ${person.username}|">username</div>
                            <div th:text="|First name: ${person.firstName}|">first name</div>
                            <div th:text="|Last name: ${person.lastName}|">last name</div>
                        </div>
                    </a>
                    <div
                        id="friend-buttons" 
                        th:unless="${#strings.equals(me, person.username)}"
                    >
                        <button
                            type="button"
                            th:if="${friends.contains(person)}"
                            th:onclick="stopFriendship([[${me}]], [[${person.username}]]);"
                        >
                            Stop friendship
                        </button>
                        <div 
                            th:unless="${friends.contains(person)}"
                        >
                            <button
                                type="button"
                                th:if="${!sent.contains(person) && !received.contains(person)}"
                                th:onclick="sendFriendInvite([[${me}]], [[${person.username}]]);"
                            >
                                Send friend invite
                            </button>
                            <button
                                type="button"
                                th:if="${sent.contains(person)}"
                                th:onclick="cancelFriendInvite([[${me}]], [[${person.username}]]);"
                            >
                                Cancel friend invite
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <nav th:if="${accountPage.totalPages > 0}" >
            <div th:each="pageNumber : ${pageNumbers}">
                <a
                    th:href="@{/people(size=${accountPage.size}, page=${pageNumber})}"
                    th:text="${pageNumber}"
                >
                </a>
                <span>&nbsp;</span>
            </div>
        </nav>

        <footer th:replace="fragments/global/footer :: footer"></footer>

        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
        <script th:src="@{/js/friendButtons.js}" defer></script>
    </body>
</html>
