<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Settings</title>
        <link th:insert="fragments/global/footer :: footer-css" />
        <link th:insert="fragments/global/navbar :: navbar-css" />
        <link th:href="@{/css/settings.css}" rel="stylesheet" />
    </head>
    <body>
        <nav th:replace="fragments/global/navbar :: nav">
        </nav>

        <h2>Settings</h2>

        <div id="container">
            <div id="usertable">
                <img th:if="${currentUser.getImage() == null}" th:src="@{/img/default-profile.png}">
                </img>
                <img th:unless="${currentUser.getImage() == null}"
                    id="profilepicture" th:src="@{/accounts/{id}/image(id=${currentUser.getId()})}">
                </img>
                <table>
                    <thead>
                        <tr>    
                            <td><strong>Username</strong></td>
                            <td><strong>First name</strong></td>
                            <td><strong>Last name</strong></td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <div th:text="${currentUser.getUsername()}"></div>
                        </td>
                        <td>
                            <div th:text="${currentUser.getFirstName()}"></div>
                        </td>
                        <td>
                            <div th:text="${currentUser.getLastName()}"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="changeform">
                <form th:action="@{/settings/{id}(id=${currentUser.getId()})}"
                    method="POST" enctype="multipart/form-data"
                >
                    <ul id="changelist">
                        <lh>
                            <h4>Change things</h4>
                        </lh>
                        <li>
                            <label>First name</label>
                            <input type="text" name="firstName" />
                        </li>
                        <li>
                            <label>Last name</label>
                            <input type="text" name="lastName" />
                        </li>
                        <li>
                            <label>Password</label>
                            <input type="password" name="password" />
                        </li>
                        <li>
                            <label>Profile picture</label>
                            <input type="file" name="file" />
                        </li>
                        <li>
                            <input type="submit" value="Make the change!" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div id="userskills">
            <table id="skilltable">
                <thead>
                    <h3>Skills</h3>
                </thead>
                <tbody>
                    <tr th:each="skill : ${currentUser.getSkills()}">
                        <td><strong th:text="${skill.title}"></strong></td>
                        <td th:text="${skill.description}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <!--popups start-->
                        
                        <!--popups end-->

                    </tr>
                    <tr>
                        <td>
                            <div class="popup">
                                <div class="popupcontent" id="popupAdd">
                                    <form
                                        th:action="@{/settings/{id}/skills(id=${currentUser.getId()})}"
                                        method="POST"
                                    >
                                        <div class="meat">
                                            <input
                                                type="text"
                                                name="title"
                                                placeholder="title"
                                            />
                                            <input
                                                type="text"
                                                name="description"
                                                placeholder="description"
                                            />
                                        </div>
                                        <button
                                            type="submit"
                                        >
                                            send away!
                                        </button>
                                        <button
                                            type="button"
                                            onclick="addShowToggle()"
                                        >
                                            cancel
                                        </button>
                                    </form>
                                </div>
                                <button id="popupAddSkills"
                                    onclick="addShowToggle()"
                                >
                                    Add a skill
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="popup">
                                <div class="popupcontent" id="popupDel">
                                    <form
                                        th:action="@{/settings/{id}/skills/delete(id=${currentUser.getId()})}"
                                        method="POST"
                                    >
                                        <div
                                            class="meat"
                                        >
                                            <div
                                            th:each="skill : ${currentUser.getSkills()}">
                                                <input
                                                    th:text="${skill.title}"
                                                    type="radio"
                                                    name="id"
                                                    th:value="${skill.id}"
                                                />
                                            </div>
                                        </div>
                                        <button type="submit">
                                            Delete selected!
                                        </button>
                                        <button type="button"
                                            onclick="delShowToggle()"
                                        >
                                            cancel
                                        </button>
                                    </form>
                                </div>
                                <button id="popupDelSkills"
                                    onclick="delShowToggle()"
                                >
                                    Delete a skill
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <form>

            </form>
        </div>

        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
        <script th:src="@{/js/settingsPopups.js}" defer></script>

        <footer th:replace="fragments/global/footer :: footer"></footer>
    </body>
</html>
